/*
	DAY 11 by JANE DAVIS <3 
	DECEMBER 2020
*/

#canvas {
	margin-left: 10px;
	margin-top: 10px;
	border-style: dotted;
}

* {
	font-family: monospace;
 	font-size: 3vh;
 	line-height:1.6;
 	color: black;
	background-color: white;
}

body {
	margin-left: 30px;
}

select {
	margin: 1%;
	padding: 1%;
}

.textinput {
	background-color: white;
	border: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	/*font-size: 20px;*/
	width: 300px;
}

.megadiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.rowdiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2%;
}

input {
	padding: 1%;
	margin: 1%;
	text-align: center;
}

.button {
	padding: 2%;
}

span, a {
	font-size: 200%;
	color: black;
	margin-right: 1%;
}



.smaller {
	font-size: 100%;
}

.canvasdiv {
	width: 600px;
}

.inputdiv {
	flex-grow: 1;
}

.col1 {
	padding-right: 30px;
}

.tinylink {
	font-size: 75%;
	margin-left: 2%;
}

textarea {
	font-size: 75%;
}

